
  <mjml><mj-head>
          <mj-title></mj-title>
          <mj-font name="Montserrat" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500"></mj-font>
          <mj-attributes>
            <mj-all font-family="Montserrat, Helvetica, Arial, sans-serif"></mj-all>
            <mj-text font-weight="400" font-size="16px" color="#9B9B9B" line-height="24px"></mj-text>
            <mj-section padding="0px"></mj-section>
          </mj-attributes>
        </mj-head>
        <mj-body background-color="#F2F2F2">
  <mj-section padding="10px 0 20px 0">
  <mj-column>
    <mj-text align="center" color="#9B9B9B" font-size="11px"><a style="color:#9B9B9B;text-decoration:none;" href="{HTML_LINK_URL}" style="color:#9B9B9B;text-decoration:none;">
        {HTML_LINK_TEXT}
        </a></mj-text>
  </mj-column>
</mj-section><mj-section padding="20px 20px 0 20px" background-color="#fff">
  <mj-column width="35%">
     <mj-text align="left" font-size="11px" font-weight="500">{MAIL_CONTEXT}</mj-text>
  </mj-column>
  <mj-column width="65%">
    <mj-text align="center" font-size="11px">
      <a href="{WEBSITE_URL_0}" style="color: #9B9B9B; text-decoration: none;">
        {WEBSITE_TEXT_0}</a>&nbsp;&nbsp;&nbsp;<a href="{WEBSITE_URL_1}" style="color: #9B9B9B; text-decoration: none;">
        {WEBSITE_TEXT_1}</a>&nbsp;&nbsp;&nbsp;<a href="{WEBSITE_URL_2}" style="color: #9B9B9B; text-decoration: none;">
        {WEBSITE_TEXT_2}</a>
    </mj-text>
  </mj-column>
</mj-section><mj-section padding="20px 20px 20px 20px" background-color="#dd2476">
  <mj-column>
  <mj-image padding="100px 40px 100px 40px" width="176px" height="48px" src="{LOGO_SRC}" alt="{COMPANY_NAME}" align="center" border="none"></mj-image>
  </mj-column>
</mj-section><mj-section padding="20px 20px 0 20px" background-color="#fff">
  <mj-column>
    <mj-text align="center" font-weight="300" padding="30px 40px 10px 40px" font-size="32px" line-height="40px" color="#000">
      {HEADLINE}
    </mj-text>
  </mj-column>
</mj-section>
  <mj-section padding="10px 20px" background-color="#fff">
  <mj-column>
    <mj-divider width="30px" border-width="1px" border-color="#9B9B9B"></mj-divider>
  </mj-column>
</mj-section>
  <mj-section padding="0 20px 20px 20px" background-color="#fff">
  <mj-column width="80%">
    <mj-text align="center" padding="15px 40px 15px 40px" font-weight="300">
    {CONTENT_TEXT_TXT}
    </mj-text>
  </mj-column>
</mj-section><mj-section background-color="#fff">
    <mj-column width="80%">
      <mj-button align="center" background-color="#ff512f" color="#fff" border-radius="0px" href="{BUTTON_URL_BTN}" inner-padding="15px 30px" padding-bottom="30px" padding-top="20px">
        {BUTTON_TEXT_BTN}
      </mj-button>
    </mj-column>
  </mj-section><mj-section vertical-align="middle" background-size="cover" background-repeat="no-repeat">
  <mj-column width="100%">
    <mj-image src="https://admin.chatify.info/assets/mail/shadow.png" alt="" align="center" border="none" padding="0px"></mj-image>
  </mj-column>
</mj-section><mj-section padding="10px 0 20px 0">
  <mj-column>
    <mj-text align="center" color="#9B9B9B" font-size="11px"><a href="{UNSUBSCRIBE_URL}" style="color: #9B9B9B;">{UNSUBSCRIBE_TEXT}</a><br><br>
    <br><b>{COMPANY_NAME}</b><br>{TEXT_UID}: {COMPANY_UID}<br>{COMPANY_STREET} / {COMPANY_POSTAL_CODE} / {COMPANY_CITY} / {COMPANY_COUNTRY}<br>{TEXT_PHONE}: {COMPANY_PHONE} / {TEXT_EMAIL}: <a style="color: #9B9B9B;" href="mailto:{COMPANY_EMAIL}">{COMPANY_EMAIL}</a><br><a style="color:#9B9B9B;" href="{COMPANY_WEBSITE}">{COMPANY_WEBSITE}</a></mj-text>
  </mj-column>
</mj-section>
  </mj-body>
  </mjml>