
  <mjml><mj-head>
          <mj-title></mj-title>
          <mj-font name="Montserrat" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500"></mj-font>
          <mj-attributes>
            <mj-all font-family="Montserrat, Helvetica, Arial, sans-serif"></mj-all>
            <mj-text font-weight="400" font-size="16px" color="#777" line-height="24px"></mj-text>
            <mj-section padding="0px"></mj-section>
          </mj-attributes>
        </mj-head>
        <mj-body background-color="#fff">
  <mj-section padding="10px 0 20px 0">
  <mj-column>
    <mj-text align="center" color="#777" font-size="11px"><a style="color:#777;text-decoration:none;" href="{HTML_LINK_URL}" style="color:#777;text-decoration:none;">
        {HTML_LINK_TEXT}
        </a></mj-text>
  </mj-column>
</mj-section><mj-section padding="20px 20px 0 20px" background-color="#f8f8f8">
  <mj-column width="35%">
    <mj-image width="98px" height="20px" src="https://touristscout.com/demo/assets/images/logo.png" alt="" align="center" border="none" padding="0px"></mj-image>
  </mj-column>
  <mj-column width="65%">
    <mj-text align="center" font-size="11px">
      <a href="{WEBSITE_URL_0}" style="color: #777; text-decoration: none;">
        {WEBSITE_TEXT_0}</a>&nbsp;&nbsp;&nbsp;<a href="{WEBSITE_URL_1}" style="color: #777; text-decoration: none;">
        {WEBSITE_TEXT_1}</a>&nbsp;&nbsp;&nbsp;<a href="{WEBSITE_URL_2}" style="color: #777; text-decoration: none;">
        {WEBSITE_TEXT_2}</a>
    </mj-text>
  </mj-column>
</mj-section>
  <mj-hero
  mode="fixed-height"
  height="320px"
  background-width="600px"
  background-height="320px"
  background-url="https://touristscout.com/demo/assets/images/header/13.jpg"
  background-color="#b0a8a3"
  padding="0px">
  <!-- To add content like mj-image, mj-text, mj-button ... use the mj-hero-content component -->
  <mj-text
    padding="180px 20px 20px 20px"
    color="#ffffff"
    font-family="Helvetica"
    align="center"
    font-size="45px"
    line-height="45px"
    font-weight="900">
    {HERO_HEADLINE_HRO}
  </mj-text>

  <mj-button padding-bottom="20px" padding-top="0px" align="center" background-color="#000" color="#f8f8f8" border-radius="0px" href="{HERO_BUTTON_URL_HRO}" inner-padding="15px 30px">
  {HERO_BUTTON_TEXT_HRO}
  </mj-button>

</mj-hero><mj-section padding="20px 20px 0 20px" background-color="#f8f8f8">
  <mj-column>
    <mj-text align="center" font-weight="300" padding="30px 40px 10px 40px" font-size="32px" line-height="40px" color="#000">
      {HEADLINE}
    </mj-text>
  </mj-column>
</mj-section>
  <mj-section padding="10px 20px" background-color="#f8f8f8">
  <mj-column>
    <mj-divider width="30px" border-width="1px" border-color="#777"></mj-divider>
  </mj-column>
</mj-section>
  <mj-section padding="0 20px 20px 20px" background-color="#f8f8f8">
  <mj-column width="80%">
    <mj-text align="center" padding="15px 40px 15px 40px" font-weight="300">
    {CONTENT_TEXT_TXT}
    </mj-text>
  </mj-column>
</mj-section>
  <mj-section background-color="#f8f8f8">
  <mj-column>
    <mj-carousel border-radius="0" tb-border-radius="0" right-icon="{urlWeb}/arrow-right.png" left-icon="{urlWeb}/arrow-left.png"><mj-carousel-image border-radius="0" tb-border-radius="0" src="https://touristscout.com/demo/assets/images/header/12.jpg" /><mj-carousel-image border-radius="0" tb-border-radius="0" src="https://touristscout.com/demo/assets/images/header/2.jpg" /><mj-carousel-image border-radius="0" tb-border-radius="0" src="https://touristscout.com/demo/assets/images/header/11.jpg" /><mj-carousel-image border-radius="0" tb-border-radius="0" src="https://touristscout.com/demo/assets/images/header/10.jpg" /></mj-carousel>
  </mj-column>
</mj-section>
  <mj-section padding="20px 20px 20px 20px" background-color="#f8f8f8"></mj-section><mj-section background-color="#f8f8f8">
    <mj-column width="80%">
      <mj-button align="center" background-color="#000" color="#f8f8f8" border-radius="0px" href="{BUTTON_URL_BTN}" inner-padding="15px 30px" padding-bottom="30px" padding-top="20px">
        {BUTTON_TEXT_BTN}
      </mj-button>
    </mj-column>
  </mj-section>
  <mj-section padding="0px" background-color="#b0a8a3">
  <mj-column>
    <mj-image padding="0px" width="600px" height="320px" src="https://touristscout.com/demo/assets/images/header/4.jpg" alt="{IMAGE_ALT_IMAGE_KEY}" align="center" border="none"></mj-image>
    </mj-column>
</mj-section>
  <mj-section padding="0px 0px 0px 0px" background-color="#f8f8f8">
    <mj-column width="600px" padding="0px 0px 0px 0px">
      <mj-accordion padding="0px 0px 0px 0px" border="0px" container-background-color="#b0a8a3"  icon-wrapped-url="{urlWeb}/arrow-bottom.png" icon-unwrapped-url="{urlWeb}/arrow-top.png">
        <mj-accordion-element background-color="#fff">
      <mj-accordion-title font-size="15px" color="#777">{ACCORDEON_TITLE_ACDN_0}</mj-accordion-title>
        <mj-accordion-text>
          <span style="line-height:20px">
          {ACCORDEON_CONTENT_ACDN_0}
          </span>
        </mj-accordion-text>
      </mj-accordion-element>
      <mj-accordion-element background-color="#f8f8f8">
      <mj-accordion-title font-size="15px" color="#777">{ACCORDEON_TITLE_ACDN_1}</mj-accordion-title>
        <mj-accordion-text>
          <span style="line-height:20px">
          {ACCORDEON_CONTENT_ACDN_1}
          </span>
        </mj-accordion-text>
      </mj-accordion-element>
      
      </mj-accordion>
    </mj-column>
  </mj-section><mj-section padding="10px 0 20px 0">
  <mj-column>
    <mj-text align="center" color="#777" font-size="11px"><a href="{UNSUBSCRIBE_URL}" style="color: #777;">{UNSUBSCRIBE_TEXT}</a><br><br>
    <br><b>{COMPANY_NAME}</b><br>{TEXT_UID}: {COMPANY_UID}<br>{COMPANY_STREET} / {COMPANY_POSTAL_CODE} / {COMPANY_CITY} / {COMPANY_COUNTRY}<br>{TEXT_PHONE}: {COMPANY_PHONE} / {TEXT_EMAIL}: <a style="color: #777;" href="mailto:{COMPANY_EMAIL}">{COMPANY_EMAIL}</a><br><a style="color:#777;" href="{COMPANY_WEBSITE}">{COMPANY_WEBSITE}</a></mj-text>
  </mj-column>
</mj-section>
  </mj-body>
  </mjml>